.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formHeading{
    padding-top: 10px;
    font-size: 3em;
    text-align: center;
    font-family: var(--font-righteous);
}

.form{
    margin-top: 50px;
    width: 600px;
    border-radius: 15px;
    background-color: var(--primary);
    font-family: var(--font-urbanist);
    padding: 15px;
    font-weight: 800;
    color: #000;
}

.col{
    display: flex;
    flex-direction: column;

}

.col label{
    font-size: 1.2em;
    text-align: center;
}

.col input[type=text]{
    margin-left: auto;
    margin-right: auto;
    padding: 10px  20px 10px 20px;
    border-radius: 50px;
    width: 550px;
    border: 2px solid #000;
    margin: 5px 0px 5px 0px;
}
.heading{
    padding: 10px 0px 5px 0px;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 10px;
}
.row{
    display: flex;
    align-items: center;
}
.singlerow{
    display: flex;
    align-items: center;
}
.singlerow input{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px  20px 10px 20px;
    border-radius: 50px;
    width: 520px;
    border: 2px solid #000;
    margin: 5px 0px 5px 0px;
}
.singleinputcol{
    width: 500px;
}
.buttonrow{
    padding-left: 25px;
    width: 50px;
}
.row input{
    margin-left: auto;
    margin-right: auto;
    padding: 10px  20px 10px 20px;
    border-radius: 50px;
    width: 175px;
    border: 2px solid #000;
    margin: 5px 0px 5px 0px;
}

.addButton{
    margin-top: 5px;
    padding: 8px 10px 8px 10px;
    border: none;
    width: 200px;
    border-radius: 50px;
    font-family: var(--font-urbanist);
    font-weight: 800;
    background-color: var(--background);
    color:var(--primary);
    cursor: pointer;
}

.closeButton{
    border: none;
}
.close{
    width: 25px;
    height: auto;
}

.submit{
    margin-top: 50px;
    padding: 8px 10px 8px 10px;
    border: none;
    width: 100px;
    border-radius: 50px;
    font-family: var(--font-urbanist);
    font-weight: 800;
    background-color: greenyellow;
    cursor: pointer;
}

.uploadImg{
    width: auto;
    height: 100px;
}
.imgSelect{
    height: 100px;
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .container{
        z-index: 1;
        display: flex;
        top: 50;
        right: 0;
        width: 100vw;
        justify-content: center;
    }
    
    .formHeading{
        padding-top: 10px;
        font-size: 3em;
        text-align: center;
        font-family: var(--font-righteous);
    }
    
    .form{
        margin-top: 50px;
        width: 350px;
        border-radius: 15px;
        background-color: var(--primary);
        font-family: var(--font-urbanist);
        padding: 15px;
        font-weight: 800;
        color: #000;
    }
    
    .col{
        display: flex;
        flex-direction: column;
    
    }
    
    .col label{
        font-size: 1.2em;
        text-align: center;
    }
    
    .col input[type=text]{
        margin-left: auto;
        margin-right: auto;
        padding: 10px  20px 10px 20px;
        border-radius: 50px;
        width: 95%;
        border: 2px solid #000;
        margin: 5px 0px 5px 0px;
    }
    .heading{
        padding: 10px 0px 5px 0px;
        font-size: 1.2em;
        text-align: center;
        padding-bottom: 10px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .singlerow{
        display: flex;
        align-items: center;
    }
    .singlerow input{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding: 10px  20px 10px 20px;
        border-radius: 50px;
        width: 270px;
        border: 2px solid #000;
        margin: 5px 0px 5px 0px;
    }
    .singleinputcol{
        width: 500px;
    }
    .buttonrow{
        padding-left: 25px;
        width: 50px;
    }
    .rowcol{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .row input{
        margin-left: auto;
        margin-right: auto;
        padding: 10px  20px 10px 20px;
        border-radius: 50px;
        width: 175px;
        border: 2px solid #000;
        margin: 5px 0px 5px 0px;
    }
    
    .addButton{
        margin-top: 5px;
        padding: 8px 10px 8px 10px;
        border: none;
        width: 200px;
        border-radius: 50px;
        font-family: var(--font-urbanist);
        font-weight: 800;
        background-color: var(--background);
        color:var(--primary);
        cursor: pointer;
    }
    
    .closeButton{
        border: none;
    }
    .close{
        width: 25px;
        height: auto;
    }
    
    .submit{
        margin-top: 50px;
        padding: 8px 10px 8px 10px;
        border: none;
        width: 100px;
        border-radius: 50px;
        font-family: var(--font-urbanist);
        font-weight: 800;
        background-color: greenyellow;
        cursor: pointer;
    }
}