:root {
  --background: #011638;
  --primary: #ffffff;
  --secondary: #ffcf01;
  --tertiary: #f2392c;
}

html,
body {
  color: var(--primary);
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-ring {
  position: relative;
  left: 185px;
}
.text-ring [style*=--index] {
  font-family: var(--font-urbanist);
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: bold;
  font-size: calc(var(--font-size, 1.9) * 1rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform:
    translate(-50%, -50%)
    rotate(calc(360deg / var(--total) * var(--index)))
    translateY(calc(var(--radius, 5) * -1ch));
}


@media (prefers-reduced-motion: no-preference) {
  .text-ring {
    animation: spin 15s infinite linear;
  }
  @keyframes spin {
    to {
      rotate: 360deg;
    }
  }
}

@media (max-width: 600px) {

  .text-ring {
    position: relative;
    left: 175px;
  }

  .text-ring [style*=--index] {
    font-family: var(--font-urbanist);
    color: var(--secondary);
    text-transform: uppercase;
    font-weight: bold;
    font-size: calc(var(--font-size, 1.7) * 1rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:
      translate(-50%, -50%)
      rotate(calc(360deg / var(--total) * var(--index)))
      translateY(calc(var(--radius, 5) * -1ch));
  }
  

}
